# Challenge datasets
data/raw/
# Processed challenge datasets
data/processed/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/

# Model files
models/*.pkl
models/*.joblib

# Output files
outputs/
