# Challenge datasets are stored using Git LFS
# Do not ignore the TSV files because Git LFS tracks them

data/processed/*
!data/processed/.gitkeep

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/

# Model files
models/*.pkl
models/*.joblib

# Output files
outputs/
